(Make sure you backup your CC1 layout before you use this tool!)
<ul>
  <li>
    1.
    <a href="#" (click)="downloadTestingLayout()">Download Testing Layout</a>
    and load it into your CC1 via
    <a href="https://www.iq-eq.io/#/manager" target="_blank">dot i/o</a> or
    <a href="https://charachorder-config.com/" target="_blank"
      >Charachorder Config</a
    >.
  </li>
  <li>
    2. Trigger some keys on CC1, and they will become green in the following
    chart if they works.
  </li>
</ul>
<app-layout [layout]="layout"></app-layout>
